################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Model/AppModelInterfaceDPP201811/bin/Debug
/Model/AppModelInterfaceDPP201811/obj/Debug
/Model/ArcMapAddin_MilSpace_Profile/bin/Debug
/Model/ArcMapAddin_MilSpace_Profile/obj/Debug
/Model/.vs/AppModelInterfaceDPP201811/v15/Server/sqlite3
/Source/Add-ins/MilSpace.Profile.ArcMapAddin/bin/Debug
/Source/Add-ins/MilSpace.Profile.ArcMapAddin/obj/Debug
/Source/Modules/MilSpase.Profile/.vs/MilSpase.Profile/v15/Server/sqlite3
/Source/Modules/MilSpase.Profile/bin/Debug
/Source/Modules/MilSpase.Profile/obj/Debug
/Source/Modules/MilSpase.Profile/Solutions/.vs/MilSpase.Profile/v15/Server/sqlite3
/Source/Solutions/.vs/MilSpase.Profile/v15/Server/sqlite3
/Source/Add-ins/MilSpace.Visibility.ArcMapAddin/bin/Debug
/Source/Add-ins/MilSpace.Visibility.ArcMapAddin/obj/Debug
/Source/Modules/MilSpace.Visibility/obj/Debug
/Source/Solutions/.vs/MilSpace.Profile/v15/Server/sqlite3
/Source/Core/MilSpace.ArcGIS.License/ArcGIS.v10/obj
/Source/Core/MilSpace.ArcGIS.License/LicenseCheck/bin/Debug
/Source/Core/MilSpace.ArcGIS.License/LicenseCheck/obj/Debug
/Source/Core/MilSpace.Configurations/.vs/Spaero.Configurations/v15/Server/sqlite3
/Source/Core/MilSpace.Configurations/bin
/Source/Core/MilSpace.Configurations/obj
/Source/Core/MilSpace.Core/bin/Debug
/Source/Core/MilSpace.Core/obj/Debug
/Source/Core/MilSpace.DataAccess/.vs/MilSpace.DataAccess/v15/Server/sqlite3
/Source/Core/MilSpace.DataAccess/MilSpace.DataAccess/bin/Debug
/Source/Core/MilSpace.DataAccess/MilSpace.DataAccess/obj/Debug
/Source/Core/MilSpace.DataAccess/packages/System.ValueTuple.4.4.0
/Source/Core/MilSpace.DataAccess/packages/System.Runtime.CompilerServices.Unsafe.4.4.0
/Source/Core/MilSpace.DataAccess/packages/System.ComponentModel.Annotations.4.4.1
/Source/Core/MilSpace.DataAccess/packages/Microsoft.Extensions.Primitives.2.0.0
/Source/Core/MilSpace.DataAccess/packages/Microsoft.Extensions.Options.2.0.1
/Source/Core/MilSpace.DataAccess/packages/Microsoft.Extensions.DependencyInjection.Abstractions.2.0.0
/Source/Core/MilSpace.DataAccess/packages/Microsoft.Extensions.DependencyInjection.2.0.0
/Source/Core/MilSpace.DataAccess/packages/FluentMigrator.Abstractions.3.1.3
/Source/Core/MilSpace.DataAccess/packages/FluentMigrator.3.1.3
/Source/Core/Spaero.Core
/Source/Solutions/.vs/MilSpace.All/v15/Server/sqlite3
/Source/Solutions/packages/System.ValueTuple.4.4.0
/Source/Solutions/packages/System.Runtime.CompilerServices.Unsafe.4.4.0
/Source/Solutions/packages/System.ComponentModel.Annotations.4.4.1
/Source/Solutions/packages/Microsoft.Extensions.Primitives.2.0.0
/Source/Solutions/packages/Microsoft.Extensions.Options.2.0.1
/Source/Solutions/packages/Microsoft.Extensions.DependencyInjection.Abstractions.2.0.0
/Source/Solutions/packages/Microsoft.Extensions.DependencyInjection.2.0.0
/Source/Solutions/packages/log4net.2.0.8
/Source/Solutions/packages/FluentMigrator.Abstractions.3.1.3
/Source/Solutions/packages/FluentMigrator.3.1.3
/Source/Tools/TaskExecuter/bin/Debug
/Source/Tools/TaskExecuter/obj/Debug
/Source/Solutions/.vs/MilSpace.Profile/v15
/Source/Modules/MilSpase.Profile/obj/Release
/Source/Add-ins/MilSpace.Profile.ArcMapAddin/obj/Release/MilSpace.Profile.ArcGISAddIn.csproj.CoreCompileInputs.cache
/Source/Add-ins/MilSpace.Profile.ArcMapAddin/obj/MilSpace.Profile.ArcGISAddIn.csproj.UnmanagedRegistration.cache
/Model/AppModelInterfaceDPP201811/obj/Release/AppModelInterfaceDPP201811.csproj.CoreCompileInputs.cache
/Model/ArcMapAddin_MilSpace_Profile/obj/Release/MilSpace.Profile.ArcGISAddIn.csproj.CoreCompileInputs.cache
/Model/ArcMapAddin_MilSpace_Profile/obj/Release/MilSpace.Profile.ArcGISAddIn.csprojAssemblyReference.cache
/Source/Solutions/.vs/config/applicationhost.config
