################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Model/AppModelInterfaceDPP201811/bin/Debug
/Model/AppModelInterfaceDPP201811/obj/Debug
/Model/ArcMapAddin_MilSpace_Profile/bin/Debug
/Model/ArcMapAddin_MilSpace_Profile/obj/Debug
/Model/.vs/AppModelInterfaceDPP201811/v15/Server/sqlite3
/Source/Add-ins/MilSpace.Profile.ArcMapAddin/bin/Debug
/Source/Add-ins/MilSpace.Profile.ArcMapAddin/obj/Debug
/Source/Modules/MilSpase.Profile/.vs/MilSpase.Profile/v15/Server/sqlite3
/Source/Modules/MilSpase.Profile/bin/Debug
/Source/Modules/MilSpase.Profile/obj/Debug
/Source/Modules/MilSpase.Profile/Solutions/.vs/MilSpase.Profile/v15/Server/sqlite3
/Source/Solutions/.vs/MilSpase.Profile/v15/Server/sqlite3
