<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MilSpace.DataAccess.Settings.DNOEGDBConnectionString"
            connectionString="Data Source=SPAERO;Initial Catalog=DNOEGDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MilSpace.DataAccess.Properties.Settings.DNOEGDBConnectionString"
            connectionString="Data Source=SPAERO;Initial Catalog=DNOEGDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
