<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MilSpace.DataAccess.Properties.Settings.MilSpaceAppConnectionString"
            connectionString="Data Source=SPAERO01\SQLEXPRESS;Initial Catalog=MilSpaceApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MilSpace.DataAccess.Properties.Settings.MilSpaceAppConnectionString1"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MilSpaceApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>